<section class="bg-light" id="home">
    <div class="container col-xxl8 px-4 py-5">
        <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
            <div class="col-10 col-sm-8 col-lg-6">
                <img src="{{ url_for('static', filename='img/consultoria.jpg') }}" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="700" height="500" loading="lazy">
            </div>
            <div class="col-lg-6">
                <h2 class="display-4">ES & BI</h2>
                <p class="lead fs-3">Estadísticas Económicas e Inteligencia de Negocios</p>
                <hr class="my-4">
                <p class="fs-5">Somos una empresa de consultoría económica especializada en Estudios Sectoriales, Estimación/Proyección de Agregados Macroeconómicos y Optimización de procesos.</p>
                <a class="btn btn-primary btn-lg" href="#contact" role="button">Contáctanos</a>
            </div>
        </div>
    </div>
</section>